---
title: "Projects"
layout: splash
date: 2016-03-23T11:48:41-04:00
excerpt: "Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."


intro: 
- excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'


summer_research_desc:
  - excerpt: "# Summer Research Projects"
  - excerpt: "Throughout my education, I've worked on a different summer research experience each summer. 
  After first year, I worked with the SuperCDMS collaboration at the University of Toronto, after second year I worked with the MATHUSLA collaboration at the University of Toronto, and after third year I worked with the Ocean Dynamics Lab at the University of Toronto. 
  I have had the privilege of delving into diverse and impactful scientific projects, and these experiences have shaped my approach to learning and my future career. 
  The diversity of the projects that I have been able to contribute to has pushed the boundaries of my problem solving ability, and given me the confidence to systematically attack more complex problems."


summer_research_content:
  - image_path: assets/images/hovercraft.jpg
    alt: "hovercraft image"
    title: "UBC Ocean Dynamics Lab"
    excerpt: "information about plume front dynamics"
    url: "UBC_ODL"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/fibre_spool.PNG
    alt: "fibre spool image"
    title: "UofT MATHUSLA"
    excerpt: "information about the mathusla testing setup"
    url: "UofT_MATHUSLA"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/SuperCDMS_cover.PNG
    title: "UofT SuperCDMS"
    excerpt: "information about superCDMS"
    url: "UofT_CDMS"
    btn_label: "Read More"
    btn_class: "btn--primary"


feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"


feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"


feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="summer_research_desc" type="center" %}

{% include feature_row id="summer_research_content" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}