---
title: "Research"
layout: splash
date: 2016-03-23T11:48:41-04:00
excerpt: "test"


intro: 
  - excerpt: '# Introduction'
  - excerpt: 'I have made it a priority to consistently participate in research in a variety of forms. This experience began after first year when I started 
  with [**Summer Research**](#summer-research-projects) and then continued into [**Fusion Energy**](https://humerbenjamin.github.io/fusion/) for my year long 
  [**Undergraduate Thesis**](#undergraduate-thesis-project) and my 16 month co-op work term with [**General Fusion**](#general-fusion-co-op) where I made it a 
  priority to work in a research oriented company.'


gen_fusion_desc:
  - excerpt: '# General Fusion Co-op'
  - excerpt: 'At the University of Toronto, Engineering students can take part in the Professional Experience Year (PEY) co-op program. This program 
  requires students to complete an extended work term of 12-16 months. My PEY was with General Fusion working on both experimental data analysis and 
  simulations.'

gen_fusion_content:
  - image_path: assets/images/general_fusion_m3v3.jpg
    alt: "General Fusion Image"
    title: "General Fusion Co-op"
    excerpt: "May 2024 - September 2025: Plasma stability data analysis, and Resistive MHD simulations."
    url: "fusion/general_fusion"
    btn_label: "Read More"
    btn_class: "btn--primary"

  
undergrad_thesis_desc:
  - excerpt: '# Undergraduate Thesis Project'
  - excerpt: 'In the Physics Option of Engineering Science at the University of Toronto, all students complete a 4 or 8 month thesis project with a
  supervisor of their choice. I chose to do an 8 month thesis project so that I could have more time to dive into a more complex thesis project.'

undergrad_thesis_content:
  - image_path: assets/images/densityN_square.gif
    alt: "thesis header"
    title: "Engineering Physics Undergraduate Thesis"
    excerpt: "September 2023 - May 2024: Direct Simulation Monte Carlo methods to predict nonequilibrium gas filling and ionization in a small chamber."
    url: "fusion/undergrad_thesis"
    btn_label: "Read More"
    btn_class: "btn--primary"


summer_research_desc:
  - excerpt: "# Summer Research Projects"
  - excerpt: "Throughout my education, I've worked on a different summer research experience each summer. 
  After first year, I worked with the SuperCDMS collaboration at the University of Toronto, after second year I worked with the MATHUSLA collaboration at the University of Toronto, and after third year I worked with the Ocean Dynamics Lab at the University of Toronto. 
  I have had the privilege of delving into diverse and impactful scientific projects, and these experiences have shaped my approach to learning and my future career. 
  The diversity of the projects that I have been able to contribute to has pushed the boundaries of my problem solving ability, and given me the confidence to systematically attack more complex problems."

summer_research_content:
  - image_path: assets/images/hovercraft.jpg
    alt: "hovercraft image"
    title: "UBC Ocean Dynamics Lab"
    excerpt: "Summer 2023: Integration high frequecy GPS systems for resolution of plume front dynamics."
    url: "research/UBC_ODL"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/fibre_spool.PNG
    alt: "fibre spool image"
    title: "UofT MATHUSLA"
    excerpt: "Summer 2022: Built a testing setup for evaluation of different materials to be used in the MATHUSLA detector."
    url: "research/UofT_MATHUSLA"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/SuperCDMS_cover.PNG
    alt: "CDMS cover image"
    title: "UofT SuperCDMS"
    excerpt: "Summer 2021: Testing and evaluation of SuperCDMS software, exploration of Continuous Integration Testing."
    url: "research/UofT_CDMS"
    btn_label: "Read More"
    btn_class: "btn--primary"


---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="gen_fusion_desc" type="center" %}

{% include feature_row id="gen_fusion_content" type="center" %}

{% include feature_row id="undergrad_thesis_desc" type="center" %}

{% include feature_row id="undergrad_thesis_content" type="center" %}

{% include feature_row id="summer_research_desc" type="center" %}

{% include feature_row id="summer_research_content" %}