---
title: "Fusion"
layout: splash
date: 2016-03-23T11:48:41-04:00
excerpt: "Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."


intro: 
  - excerpt: '# Introduction'
  - excerpt: 'Since I first learned about nuclear fusion in a high school project, I have wanted to work in fusion in the future. The '


gen_fusion_desc:
  - excerpt: '# General Fusion'
  - excerpt: 'At the University of Toronto, Engineering students can take part in the Professional Experience Year (PEY) co-op program. This program 
  requires students to complete an extended work term of 12-16 months. My PEY was with General Fusion working on both experimental data analysis and 
  simulations.'

gen_fusion_content:
  - image_path: assets/images/general_fusion_m3v3.jpg
    alt: "General Fusion Image"
    title: "General Fusion Co-op"
    excerpt: "May 2024 - September 2025"
    url: "fusion/general_fusion"
    btn_label: "Read More"
    btn_class: "btn--primary"


undergrad_thesis_desc:
  - excerpt: '# Undergraduate Thesis Project'
  - excerpt: 'In the Physics Option of Engineeirng Science at the University of Toronto, all students complete a 4 or 8 month thesis project with a
  supervisor of their choice. I chose to do an 8 month thesis project so that I could have more time to dive into a more complex thesis project.'

undergrad_thesis_content:
  - image_path: assets/images/densityN_square.gif
    alt: "thesis header"
    title: "Engineering Physics Undergraduate Thesis"
    excerpt: "September 2023 - May 2024: Direct Simulation Monte Carlo methods to predict nonequilibrium gas filling and ionization in a small chamber."
    url: "fusion/undergrad_thesis"
    btn_label: "Read More"
    btn_class: "btn--primary"


---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="gen_fusion_desc" type="center" %}

{% include feature_row id="gen_fusion_content" type="center" %}

{% include feature_row id="undergrad_thesis_desc" type="center" %}

{% include feature_row id="undergrad_thesis_content" %}